@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

body {
  padding: 10px;
  background-color: rgba(51, 51, 51, 1);
  color: white;
}

h1 {
  color: white;
}

.alert {
  font-size: 0.8em;
  width: 500px;
  margin: auto;
  display: block;
}

.readonly {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}

.logo img {
  width: 50px;
}

.bi {
  font-size: xx-large;
}

.button-login {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-login:hover {
  color: white;
  background-color: #0062cc;
}

.button-exit {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-exit:hover {
  color: white;
  background-color: red;
}

.menu-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filme {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.filme img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.filme img:hover {
  transform: scale(1.1);
}

.teatro {
  display: inline-block;
  margin: 10% 12%;
  cursor: pointer;
}

.teatro img {
  width: 130%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.teatro img:hover {
  transform: scale(1.1);
}

.teatro-principal {
  display: inline-block;
  cursor: pointer;
}

.teatro-principal img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.teatro-principal img:hover {
  transform: scale(1.1);
}

/* Container do Chack box*/
.input-containercheckbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  margin: 30px 0px;
  font-size: 12px;
  color: #abafc5;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.input-containercheckbox input {
  grid-column: 1;
  margin-right: 5px;
}

/* Estiliza a checkbox */
.input-containercheckbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 0.1px solid var(--cor-personalizadaBord);
  border-radius: 4px;
  outline: none;
  position: relative;
  cursor: pointer;
  background-color: aliceblue;
}

/* Desabilita os eventos de ponteiro na label */
.input-containercheckbox label {
  pointer-events: none;
}

/* Estiliza a checkbox quando marcada */
.input-containercheckbox input[type="checkbox"]:checked::after {
  content: "✔";
  display: block;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--icone-light);
}

/* Estiliza o container do evento */
.evento-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid #000; /* Adiciona uma borda */
  padding: 20px; /* Adiciona algum espaço interno */
  background-color: #5e5b5b; /* Adiciona um fundo cinza claro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para criar o efeito de um retângulo mais escuro em volta */
}

/* Estiliza a imagem de um evento */
.imagem-evento {
  position: relative;
  width: 10%;
  height: auto;
  bottom: -40px;
  border-radius: 3%;
}

/* Estiliza o conteúdo do evento */
.conteudo-evento {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estiliza o titulo */
.titulo-evento {
  font-size: 2em;
  color: #ffffff;
}

/* Estiliza a descrição de um evento */
.descricao-evento {
  font-size: 1.2em;
  color: #ffffff;
}

/* Estiliza a duração de um evento */
.duracao-evento {
  font-size: 1em;
  color: #ffffff;
}