<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/main.js"></script>

    <title th:text="${title}"/>
</head>

<body>
  <div>
    <a class="logo" href="/ingressoja/home" title="Tela Inicial">
      <img src="/logo/ingressoja.png" alt="Logo">
    </a>
  
    <a href="javascript:history.back()" class="back-icon" style="position: absolute; top: 10px; right: 10px;">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>

  </br>
  </br>
  </br>

    <div class="evento-container">
        <img class="imagem-evento" th:src="${img}" alt="Evento"/>
        <div class="conteudo-evento">
          <h1 class="titulo-evento"><span th:text="${title}"></span></h1>
          <div th:if="${duracao != null}">
            <span class="duracao-evento" th:text="${duracao} + min"></span>
          </div>
          <div class="descricao-evento" th:if="${hasDescricao == true}">        
            <span th:text="${descricao}"></span>
          </div>
        </div>
      </div>
</body>

</html>